.homepage-header-w-logo{
    vertical-align: middle;
    text-align: center;
    width: 490px;
    margin-inline: auto;
}
.homepage-header-container-logo{
    width: 100%;
    height: 100%;
}
.homepage-header-container-header h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin-bottom: 15px;
}
.homepage-header-container-caption{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-family:"Nunito", sans-serif;
    font-weight: medium;
    font-size: 20px;
    color: #B4B4B4;
}
.homepage-actions{
    margin: 0 auto;
    width: fit-content;
}