@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@layer base {
  body {
    @apply text-text-main font-sans font-medium;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.react-flow .react-flow__edge path {
  stroke: #000;
  stroke-width: 2px;
}

.react-flow .react-flow__edge.selected path {
  stroke: #f4511e;
}

.react-flow__node {
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid;
  background-color: #fff;
}

.react-flow__node.selected {
  background-color: #fdedef;
}
