@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

@layer base {
  body {
    @apply text-text-main font-sans font-medium;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c4c4c4 transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.react-flow .react-flow__edge path {
  stroke: #008765;
  stroke-width: 2px;
}

.react-flow .react-flow__edge.selected path {
  stroke: #008765;
  stroke-width: 3px;
}

.react-flow__node {
  width: 505px;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid;
}

.react-flow__node.selected {
  border-width: 2px;
}

.react-flow__node .react-flow__handle {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 1px solid #008765;
}

.react-flow__node .react-flow__handle-top {
  top: -32px;
}

.react-flow__node .react-flow__handle-bottom {
  bottom: -32px;
}
